
   /* mobile screen  */
   @media only screen and (max-width: 768px) {
       
    .innerbox{
      border:1px solid  orangered; 
      margin: 0 0!important; 
  }

        #hero-outer .btn-header.btn-header-white,  
        #hero-outer-subpage .btn-header.btn-header-white{
      display: none;          
        }
      
    #hero-image{
   background-position:right top; 
  /*Wert1(horizontale) Wert2 (vertikale) vertilen  :   top center bottom */
  filter: brightness(50%); /* makes img darker*/
         z-index:3;
    }
      span#moto{
        font-size:2em;
        font-weight:600 ;
        top:75%;  
        left:50%   
        /* position:absolute; */
       }


       /* hero implant.html*/

       
      #hero-image-implant{              
      background:url('../images/sub-pages/mobile/hero-mobile-dental-implants-800x1200-2.webp') no-repeat;   
      background-position:68% 35%; /* x y */             
      }


  


       #welcome-1 p{
       margin-left:25px!important;   
       margin-right:25px;  
       font-weight: 300;
         }
                 
         #welcome-1 span{
          font-size:107%;
         }


      .flex-container{
                     flex-direction: column; /* Responsive flow element in a colum one under one and not "colased"*/
          }


          h2.heading-text {        
            font-size: 1.5rem;
            text-align: center;
          }
        
      hr.hr-style{
        display: none;
      }

      .innerbox > span{
        color:red;
        display:none;
      }

        h2{
          font-size:25px;
          letter-spacing:0;
        }

        /* implant.html */
        section.implant-types{
          height:180px;
          padding:9px 0;
        }

    
        section#implants p{      /* set space between paragraphs*/
          line-height:23px;	
          font-size:120%;         
          color:red; 
          }

	 
        
   	      /* properties to second img - mobile*/
           #implant-container-1 .box-1 div+div{
            /*  border: 1px solid red; */
            display:block;
             }
  
            /* properties to first img - website*/
             #implant-container-1 .box-1 div:nth-of-type(1){
            /*  border: 1px solid yellow; */
              display:none;
             }
      
 
   
    

          /* smiles */

          ul.gallery-smiles li:nth-of-type(even){
            display:none!important;
            }

     .hide{
      display:none;
    }
      ul.gallery-smiles li{         
      width:33%;
      }

      #services  .services-svg-box{
        margin-bottom:15px;  
        }
          
        #about .two-thirds, #about .one-third{
          /* border:2px solid pink; */
           width:99%;     	
           margin-right:0.2%;
          }
          
             #about .one-third #team-t{
           display:block;
              }
            
           #about .one-third #team{
           display:none;
              }

              section#about div.two-thirds{
              margin-bottom: 30px;
              padding-bottom: 40px;
              }

              /* section#about buttom */
              
              
              section#about a#button-about.button-m{
                padding:0.7em 1.7em;	
                transform: translate(50%,-50%);
                right:66%;
                         
                }
          
              
            
          
                /*  sub page - implant   */
            .box-1, .box-2{
              width:95%;
                float:left;	
                padding-right:4%;
                padding-left:4%;     
              /*  border:1px solid yellow;	     */
            }
             
            #implant-welcome .box-1,  #implant-welcome .box-2,  #implant-welcome .box-1 img{
              height:550px;
            }
          
          
            #implants .box-1 img{
              width:100%;
              border: 1px solid pink;
              }
        
            .cta-buttons li{
              padding-bottom: 12px;  
                }
            

          #implant-container-2 .one-third{
            width:90%;
          }


          /* section CTA*/
                            
         

           section.cta .section-inner h3, section.cta  .section-inner p{   
             display:none;
           }

       

        
          section.cta a.button.button-m{
            padding:0.7em 1.2em;	
            margin-top:20px!important;  
          }

            
          section.cta .button.button-m{
         /*   left:37%; */
          }
              
          section.cta a.button.button-m {
            padding: 0.7em 2.7em;
            margin-top:40px!important;
        }
                   
          .cta span{
            font-size:145%;
            letter-spacing:2px;
          }

          /*section reviews - google*/

          section#reviews .one-third{
            width:98%!important;
                        }

          section#reviews .one-third img{          
            -webkit-transform: translateX(-50%); /*absolute mitte when i dont know the witht*/
            transform: translateX(5%);  
          }

          #reviews .google-reviews-1{
            display:none;
            }
            
          #reviews .google-reviews-2 img{
            width:100%;
            display:block;        
              }

      
        
            /* footer */    
            footer{
              height:480px;
            }

            span#logo-name-footer, footer a.logo-image img{
              float:none;
            }
            
          footer div  h4{
          font-size: 105%;
          font-weight:600!important;
          }

            footer ul li:first-of-type{
              padding-top:12px!important;
              margin-top:12px;
              border: 1px solid pink;
              line-height:12px;
            }
           
            footer #diepold-dental ul li:first-child{
            margin-top:18px;  
            border: 1px solid greenyellow;                           
            }


            #column-footer.flex-container{
              text-align: center;
           }

           
           #diepold-dental #logo-image img{
            font-size: 200%;                    
              }

              span#logo-name-footer{
                font-size:107%;
                 font-weight:500!important;
               border: 1px solid  blue;
           }
         
  
            #column-footer.flex-container #diepold-dental, #opening-hours, #policies{
              width:95%;       
              float:left;	                 
              margin-right:2%;
              border: 1px solid blue!important;     
              }


                         
              footer #diepold-dental ul li span,
              footer #opening-hours ul li span,
              footer #policies ul li span{
              font-size:112%;   
             font-weight:300;     
                        }

              footer #diepold-dental ul,
              footer #opening-hours ul,
              footer #policies ul{
              margin-bottom:15px;   
                        }

            /* -- Media Queries ---*/
@media (max-width:720px) {
 
  .div-logo{
    display:none;
  }
  
  
   .main-menu {
      height:50px;
      background:#2d2d2d;
    }
    .container-menu {
      width:100%;
    }
    .navigation {
      float:left;
      display:block;
      width:100%;
    }
    .core-menu {
      float:right;
      width:100%;
      background:#1a1a1a;
      margin:auto;
      display:none;
    }
    
    .core-menu li {
      width:100%;
      display:block;
    
    }
    .core-menu li a{
      display:block;
      margin:auto;
    /* color:red!important; */
    
    color:#4d929a;
    }
    .hamburger-menu {
      display:block;
      text-align:center;
      padding-right:0!important; 
      float:none;
      width:100%;
    }
    .burger-1, .burger-2, .burger-3 {
    display:block;
    position:absolute;
    width:20px;
    height:3px;
    border-radius:30px;
    right:0;
    margin-right:25px;
    background:#fff;
      -webkit-transition:.2s ease;
      -ms-transition:.2s ease;
      -moz-transition:.2s ease;
      -o-transition:.2s ease;
    transition:.2s ease; 
    }
    .burger-1 {
    top:15px;
    }
    .burger-2 {
    top:23px;
    }
    .burger-3 {
    top:31px;
    }
    .burger-1.open, .burger-2.open, .burger-3.open {
    -webkit-transition:.2s ease;
    -ms-transition:.2s ease;
    -moz-transition:.2s ease;
    -o-transition:.2s ease;
      transition:.2s ease;
      transform-origin:50% 50%;
    }
    .burger-1.open {
      top:25px;
      width:23px;
      transform:rotate(45deg);
      -webkit-transform:rotate(45deg); 
      -ms-transform:rotate(45deg); 
      -moz-transform:rotate(45deg); 
      -o-transform:rotate(45deg); 
    }
    .burger-2.open {
      opacity:0;
    }
    .burger-3.open {
      top:25px;
      width:23px;
      transform:rotate(-45deg);
    }
    .dropdown {
      width:100%;
      background:#0e0e0e;
      text-align:center;
      position:relative;
    
    }
    .dropdown2 {
      right:0;
      top:0;
      width:100%;
      position:relative;
      padding:0 20px;
  }
  
  
  /*- end drop down menu -*/


           

       

  }