@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

*{
margin: 0;
padding:0;
border:none;
}


/* notes*/

main{
    padding:20px;
    
    /*padding:20px 		               oben/unten/links/rechts
    padding:20px 0 		               oben/unten, links/rechts
    padding:20px 0  10px               oben,links/rechts, unten
    padding:20px 19px 18px  17px       oben, rechts, unten, links
    */
    
    }

/* If we can add margin to span element we should add display:block or display:inline-block;.*/

/*----- notes end ---*/

body{
font-family: open sans, sans-serif;
font-weight: 300;
color:#3a3a3a;

}

/* ----- basic layout config -------*/

.innerbox {
    max-width: 960px;
    margin: 0 auto; 
    position: relative;  /* relative = como o Eltern Element*/
    padding:0 2%;
    border:2px solid yellow;
  }


  /* ---- section configuration -----*/
  section{       border:1px solid #f0f;     }
 
  section .innerbox, footer .innerbox {
  padding:30px 1%;    /* oben/unten, links/rechts */   
 /* padding:16px 1%  30px;           /*   top, right_left,  */
  border:1px solid orangered; 
  } 

  .section-inner{
    border:1px solid #f0f;   
    margin-left:10px;

  }
  
  
  
  section .innerbox,
  #schnellkontakt .innerbox,
  footer .innerbox {
    /*padding:50px 2%;*/
  /*  border:1px solid #f00; */
  } 
  

  hr.hr-style{
 margin-bottom:20px;  
  }

  .hr-style{
   border-bottom: 1px solid #a3d6a7;
    width: 5%;  
    border-width: 4px; 
  }

  .hr-style:hover{
    border-bottom: 4px solid #4AAF52; 
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out  0.2s;
    -ms-transition: all 0.2s ease-in-out  0.2s;
    -o-transition: all 0.2s ease-in-out  0.2s;
    transition: all 0.2s ease-in-out  0.2s;	
  }

   /*--- end of section config ---*/




/*   ---- basic layout config end ------*/

/* heading and logo*/


.div-logo{
 /*  display: block;*/
    width:25%;
    line-height: 23px;
   /* margin-bottom: 50px;*/
    float:left;	
    margin-right:1%;
    clear:both;
    border:1px solid blueviolet;

}


/* class applied direct to img with automatic center*/
.logo-image-centered{
    display: block;
    margin-left: auto;
    margin-right: auto;   
    max-width: 40px;
}


#logo-name{
margin-top: 0px;

}
#logo-name h1{
   /* float:left;*/
    font-size:130%; 
    text-align: center;
  
}

   



h1,h2,h3,h4{
font-family: roboto, sans-serif;
letter-spacing:1px;
/*color:#252525;*/
color:#4B535E;
}

h1{
   /* font-size: ;
    font-weight: ; */
}

h2{
    padding-bottom: 7px;
    font-size: 24px;
    font-weight:500 ;
    text-transform: capitalize;
    }

    h3{
        font-weight:400 ;

    }

    p {
        /* text-indent: 1em;*/
        text-align: justify;
        text-transform: capitalize; 
       color:#2d2d2d;	
       color:rgba(45,45,45,0.9);	/*  changed the intensity to 0.5 */
       font-weight: 400;
       }
     
       
section p{      /* set space between paragraphs*/
    line-height:22px;	
    margin:10px 0;
    }



    
    a{
        text-decoration:none;  /*romove underline of anchor text*/	
        }
        
.anchor-text{
color: rgb(2, 100, 111, 1);     
font-weight: 600;
}
.anchor-text:hover{
    color:#4AAF52;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
       -moz-transition: all 0.2s ease-in-out  0.2s;
       -ms-transition: all 0.2s ease-in-out  0.2s;
       -o-transition: all 0.2s ease-in-out  0.2s;
       transition: all 0.2s ease-in-out  0.2s;		
   }
    
}

/* background-color for sections*/
.light-gray{
background-color: rgb(231, 234,244, 0.7);
}


.light-blue{
    background-color: rgb(91, 155,162, 0.08);
    }
    

    /*% columns*/

    .one-third{
        width:28%;
        float:left;	
        margin-right:2%;
       
        }
    .half{
        width:48%;
        float:left;	
        margin-right:1%;
        border:1px solid blueviolet;
        }

     
               

    .two-thirds{
        width:64%;
        float:left;	
        margin-right:2%;	

            }


/* ---- navigation links ---- */


header#main{
    height: 4em;
   /* max-height: 70px;*/
  /*  background-color: #02646E;*/
    padding-bottom:15px;
  /*  position: fixed; */
    top: 0px;
  
    overflow: hidden;
    z-index: 999;
    width: 100%;
    /*padding-top: 17px;*/
    /* background: none; */  /* nao tem nenhum logo nao tem pq ter esse comando ativo*/
     /*opacity: 0; */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;  
  
  
}


    


nav#menu{
    float: right;
    margin-right: 0;
}

#menu{
    font-size:110% ;
    letter-spacing: 1px;
}

#menu li{
    float:right;
    list-style-type: none;
    margin-left: 25px;
}

#menu a{
        text-decoration: none;
        color:inherit;
    }

    #menu a:hover{
        border-bottom:1px solid #4AAF52;
        color:#02646E!important;
        color:rgb(2, 100, 110,1);
        font-size:105%;
        font-weight:500;	
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
         -ms-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
         
    }


    

    /* hero*/

    #hero-image{
        height:600px ; 
        width: 100%;
      background:url('../images/hero-image-dentist-600x1200-1.png') no-repeat center center;        
      
}


   
      
     #hero-outer{
        height:600px ; 
        width: 100%;
        overflow: hidden;     
        position: relative;
        
    }

    /* ------ btn --------*/
    /* --- btn-hero ---*/
    .btn-header{
        /* background:#f0f;*/
        position:absolute;	
        top:90%;
        left:50%;
        transform:translate(-50%,-50%);	
    
    
     }
     
      .btn-header ul li{
    list-style-type:none;	
    display:inline-block;      /* torna o bloco da  navigation  em um bloco-linha , diferente do display;block do Logo//*/		
    }
      
      
        .btn-header ul li a{
        background-color:#02646E;
        background-color:rgba (2,100,110,0.7);
        /*border:2px solid ;*/
        /*border-radius:40px;*/
        border-radius:15px;
        display:inline-block; /*  display: inline-block logo pode ter um padding */
        padding:0.7em 1.5em;	
            
        }
     
       .btn-header i{
         padding-right:12px;  
         font-size:25px;
         color:#fff;
       }
         
    .btn-header span{
                color:#fff;
       }

    /* --- END btn-hero ---*/




/* --- section-1   welcome -----*/

section#welcome .innerbox{
padding: 0 0;
/* margin:0 49px; */
/*margin-left:50px;*/
/*margin-right: 0px!important; */
}
  
.container {     
    width: 100%;
    padding:20px 0;
    display: block;  
  
                 }

#welcome-1{
    background-color: rgb(2, 100, 111, 0.7);   
    color:#fff;
    
  
}

#welcome-1 h2{
   color:#fff;
 
    }

#welcome-1 span{
    font-weight: 500; 
    }

#message{
color: rgb(74, 175, 82, 0.7);
font-family: roboto, sans-serif;
font-weight: 500; 
    }

    div#welcome-1.container{
    margin-left: 0!important;
    margin-right: 0;


    }

           




/* services and icons*/
    section#services{
      /*  height: auto;*/
      /*  padding-top: 10px;
        padding-left: 10px;  */    
     
      
    }

    div#services-box.flex-container{
    border:2px solid blue!important;
    }

    div#services-box.flex-container div{
           border:2px solid greenyellow;
    }

     
    .services-icon-box{
        width: 150px;
        height: 150px; 
      background-color: rgb(2, 100, 111, 0.7);  
        float:left;
        margin-right: 50px; 
        border-radius: 50%;
        text-align: center;
        color:#fff;      
        
        position: relative;  /* needed because the child ul.services-list.center is flex, position absoltute*/
    }   
   

    .services-icon-box i{
font-size:70%;
               }
  
.services-icon-box:hover {
    background-color: rgb(2, 100, 111, 0.5);  
           }
   
   .services-icon-box i:hover{
    color:	#fff;	
    color:rgba (255,255,255,0.3);
           }
   
   .services-icon-box:hover, .services-icon-box i:hover, h4{
  /*  background-color: rgb(255, 255, 255, 0.7);*/
    -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
           } 
           

        .services-icon-box h4:hover{
            color:	#02646E;	
            color:rgba (2,100,110,0.7);
        
            } 
  
 .services-icon-box h4{
color:#fff;
font-weight: 400;
font-size:105% ;
letter-spacing: 1px;

      }

ul.services-list{
    list-style-type:none;  /*eliminate bullets from ul */
    
  /*  top:50%; */
   /* transform:translate(-50%,-50%);*/
    /*transform:translate(0,-50%); /* only  axis Y !!  */
    /* transform:translateY(-50%);  */
   /* transform:translateY(30%);*/
}

/*  ------ div with .center position: absolute -----*/
/* --listed parents below needed position;relative --*/
.center {       /* I am vertically and horizontally centered*/
    margin: 0!important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

/* --listed parents b needed position;relative --*/
/*  --END div with .center position: absolute -----*/
/* div#....              */


.flex-container{
  display: flex;  
justify-content:center; /*align span inside div*/
}

.web-icons { 
 color:#fff;
 font-size:70px;
    }

    /*--- TESTS-------*/
.section-test{
    height: 300px;
  width: auto;
}
  

/* end tests*/
/*  --- progress-bar -- */

.progress {
    height: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color:transparent;
    border-radius: 0px;
    
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #4AAF52;
    background-color:rgba(74, 175,82, 0.7);


    -webkit-box-shadow: inset 0 -1px 0 rgba(74, 175, 82, .15);
    box-shadow: inset 0 -1px 0 rgba(45, 45, 50, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

div.progress{
margin-top:0;

}

.progress-bar:hover{
    background-color: #4AAF52;
    background-color:rgba(74, 175,82, 1);
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;

}


/*  ---END  progress-bar -- */

.label{
font-size: 110%;
font-weight: 400;
letter-spacing: 1px;
color:rgba(58, 58,58, 0.7);
}

/*--- section#about--- */

section#about div.one-third, section#about div.two-thirds{
border: 1px solid aqua;
} 

 
section#about div.two-thirds{
    margin-left: 0!important; /* to align <p> with h2 . it was taking margin from .two-thirds*/    
    }

    
#about .one-third img{
    width:100%;
    }
    
#image-message{
    height: 80px;
text-align: center;
}

#image-message i{
font-size:170%;
color:#4AAF52;
    }   

#image-message i:hover{
 color:#fff;
            }   

#image-message:hover{           
background-color:#4AAF52;;
}   
      
#image-message > span:hover{     
    color:#fff;;    
 
border: 1px solid salmon;
        }   
           
#image-message:hover{

    -moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;

}




/* END-- section#about--- */


/*--- section#reviews--- */

section#reviews .one-third{
    border: 1px solid aqua;
    height: 100px;
    } 

    /* END-- section#reviews--- */

    
section#reviews .one-third{
    border: 1px solid aqua;
    height: 100px;
    } 
    
section#faq .one-third{
    border: 1px solid aqua;
    height: 100px;
    /*display: flex; */
    } 

    section#faq {
     
        height: auto;
     
        margin:0;
        } 

        /* CLINIC Gallery*/
    
        .column {
            float: left;
            width: 23,5%;
            padding: 5px;
          }
          
          /* Clearfix (clear floats) */
          .row::after {
            content: "";
           clear: both;
            display: table;
          }

          .clinic-gallery img{
         width: 100%;
          }

    