@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
margin: 0;
padding:0;
/*border:none;*/
/*box-sizing: border-box;*/
}

ul *{

  list-style-type:none; 
}

/* notes*/

main{
    padding:20px;
    
    /*padding:20px 		               oben/unten/links/rechts
    padding:20px 0 		               oben/unten, links/rechts
    padding:20px 0  10px               oben,links/rechts, unten
    padding:20px 19px 18px  17px       oben, rechts, unten, links
    */
    
    }

/* If we can add margin to span element we should add display:block or display:inline-block;.*/

/*----- notes end ---*/

body{
font-family: open sans, sans-serif;
font-weight: 300;
color:#3a3a3a;

}

/* ----- basic layout config -------*/

.innerbox {
    max-width: 960px;
    margin: 0 auto; 
    position: relative;  /* relative = como o Eltern Element*/
    padding:0 2%;
  /*  border:2px solid yellow; */
  }


  /* ---- section configuration -----*/
  /* section{       border:1px solid #f0f;     }  */
 
  section .innerbox, footer .innerbox {
  padding:30px 1%;    /* oben/unten, links/rechts */   
 /* padding:16px 1%  30px;           /*   top, right_left,  */
  /* border:1px solid orangered; */
  } 

  .section-inner{
   /*  border:1px solid #f0f;   */
    margin-left:10px;
  }
  
  
  
  section .innerbox,
  #schnellkontakt .innerbox,
  footer .innerbox {
    /*padding:50px 2%;*/
  /*  border:1px solid #f00; */
  } 
  

  hr.hr-style{
 margin-bottom:20px;  
  }

  .hr-style{
    border: 1px solid; 
	border-color: rgba(2,100,111,0.5);   
    width: 5%;  
    border-width: 2px;
  }

  .hr-style:hover{
    border-color: rgba(2,100,111,0.93);  
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out  0.2s;
    -ms-transition: all 0.2s ease-in-out  0.2s;
    -o-transition: all 0.2s ease-in-out  0.2s;
    transition: all 0.2s ease-in-out  0.2s;	
  }

   /*--- end of section config ---*/




/*   ---- basic layout config end ------*/

/* heading and logo*/


.div-logo{
 /*  display: block;*/
    width:25%;
    line-height: 23px;
   /* margin-bottom: 50px;*/
    float:left;	
    margin-right:1%;
    clear:both;
    /* border:1px solid blueviolet; */
    text-align: center;
}

.div-logo img{                /* properties with automatic center*/
    display: block;  
  margin-left: auto;
  margin-right: auto;   
  max-width: 40px;
}




#logo-name{
margin-top: 0px;

}
#logo-name h1{
   /* float:left;*/
    font-size:130%; 
    font-family: roboto, sans-serif; 
  
}

  
#logo-name span{
    font-size:90%;   
     }
    



h1,h2,h3,h4{
/* font-family: roboto, sans-serif; */
font-family: Quicksand, sans-serif;
letter-spacing:1px;
/*color:#252525;*/
color:#4B535E;
}

h1{
   /* font-size: ;
    font-weight: ; */
}

h2{
    padding-bottom: 7px;
    font-size: 24px;
    font-weight:500 ;
    text-transform: capitalize;
    }

    h3{
        font-weight:400 ;

    }

    p {
        /* text-indent: 1em;*/
        text-align: justify;
        text-transform: capitalize; 
       color:#2d2d2d;	
       color:rgba(45,45,45,0.9);	/*  changed the intensity to 0.5 */
       font-weight: 400;
       }
     
       
section p{      /* set space between paragraphs*/
    line-height:22px;	
    margin:10px 0;
    }



    
    a{
        text-decoration:none;  /*romove underline of anchor text*/	
        }
        
.anchor-text{
color: rgb(2, 100, 111, 1);     
font-weight: 600;
}
.anchor-text:hover{
    color:#4AAF52;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
       -moz-transition: all 0.2s ease-in-out  0.2s;
       -ms-transition: all 0.2s ease-in-out  0.2s;
       -o-transition: all 0.2s ease-in-out  0.2s;
       transition: all 0.2s ease-in-out  0.2s;		
   }
    


/* background-color for sections*/
.blue{
    background-color:rgb(2, 100,111, 1);
    background-color:#02646E;
}

.light-gray{
background-color:#fafafa;;
}


.light-blue{
   /* background-color: rgb(91, 155,162, 0.03);*/
 background-color: rgb(250, 252,252, 0.7); /*#fafcfc*/
    }
    
    .dark-gray{
        background:#737373;
        background:rgba(115,115,115,1);	
        }

    .dark{
    background:#2d2d2d;
        }
      
        

    /*% columns*/

    .one-third{
        width:28%;
        float:left;	
        margin-right:2%;
       
        }
    .half{
        width:48%;
        float:left;	
        margin-right:1%;
       /*  border:1px solid blueviolet; */
        }

     
               

    .two-thirds{
        width:64%;
        float:left;	
        margin-right:2%;	

            }


/* ---- navigation links ---- */
nav {
	text-align:right;
	margin-top:30px;
}


 /*-----Drop down Menu-----*/	
		
 nav {
  text-align:right;
  margin-top:30px;   /* define height to nav in order to have space for the logo img*/
}


#main-menu.main-menu *{
color:#02646F;
}


.main-menu {
  display:block;
  position:relative;
  background:#fff;
}
.container-menu {
  width:80%;
  margin:0 auto;
}
.main-menu:before,.main-menu:after{
  display: table;
  line-height: 0;
  content: "";
}
.core-menu {
  text-align:center;
  font:normal normal normal 1em/1 Roboto, sans-serif;
  overflow:hidden;
}
.core-menu li {
  list-style:none;
  display:inline-block;
  cursor:pointer;
}
.core-menu li a {
  display:inline-block;
  padding:1em;  
}

.core-menu li a:hover {
  background:#02646F;
  color:#f2f2f2!important;
}
li span.toggle {
  padding-left:1em;
}
.toggle:before {
  content:"\f107";
  font:normal normal normal 16px/1 FontAwesome;
}
.dropdown {
  position:absolute;
  width:230px;         
  text-align:left;
  display:none;
  z-index:1 !important;   
  background:#fff;
}
.dropdown li {
  display:block;
  }
.dropdown li a {
  display:block;
  color:#02646F!important; 
}

.dropdown2 {
  position:absolute;
  width:230px;
background:#fff;
  text-align:left;
  display:none;
  right:-100%;
  top:0;
}
.dropdown2 li {
  display:block;
  }
.dropdown2 li a {
  display:block;
}
li span.toggle2 {
  position:absolute;
  right:0;
  margin-right:20px;
}
.toggle2:before {
  content:"\f105";
  font:normal normal normal 16px/1 FontAwesome;
}
.hamburger-menu {
   /* padding:1em; */
   padding-bottom:1em;
    display:none;
  font:normal normal normal 16px/1 Roboto;
  text-transform:uppercase;
  background:#2d2d2d;
}


/*- end drop down menu -*/
 



/* end navigation*/
.div-logo{
    width:25%;
    line-height: 23px;
    float:left;	
    margin-right:1%;
    clear:both;
  /*  border:1px solid blueviolet; */

}


/*  img with automatic center*/
.logo-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;   
    max-width: 40px;
	opacity:0.5;
}

header:hover .logo-image img{  
opacity:1;	
}


#logo-name{
margin-top: 0px;

}
#logo-name h1{
    font-size:115%; 
    text-align: center;  
  }

    /* --------hero------------*/
    
    /* ---1 - hero home-----*/

    #hero-image{
        height:600px ; 
        width: 100%;
      background:url('../images/hero/hero-image-dentist-1600x1200-4.png') no-repeat center center; 
      background-size:cover; /* makes img hero RESPONSIVE*/       
      }

      
     #hero-outer{
        height:600px ; 
        width:100%;
        overflow:hidden;     
        position:relative;
     
    }


    /* ---- moto ------*/
       span#moto{     
     /*   font-family: oswald;  */
        font-size:3.7em;
        margin:0;	
        position:absolute;
        left:40%;
        top:50%;
        transform:translate(-50%,-50%);  	/* alinha imagem, block no ABSOLUTE MITTE   */
        color:#fff;
        text-align:center;
        line-height:0.4em;
        white-space:nowrap;   /* white-space: nowrap */
        }
        
   /* white-space: nowrap */
   /* 	Sequences of whitespace will collapse into a single whitespace. Text will never wrap to the next line. 
   The text continues on the same line until a <br> tag is encountered
   why? as I made responsive to mobile, span texts colapsed, < ver captura>
   */

        

    /* ------ btn --------*/
    /* --- btn-hero ---*/
    .btn-header{
        /* background:#f0f;*/
        position:absolute;	
        top:90%;
        left:40%;
        transform:translate(-50%,-50%);	   
         }
     
      .btn-header ul li{
    list-style-type:none;	
    display:inline-block;      /* torna o bloco da  navigation  em um bloco-linha , diferente do display;block do Logo//*/		
    }
      
      
        .btn-header ul li a{       
        border-radius:50px;
        display:inline-block; /*  display: inline-block logo pode ter um padding */
        padding:0.7em 1.5em;            
        }

        .btn-header-1 ul li a{       
            border-radius:15px;
            display:inline-block; /*  display: inline-block logo pode ter um padding */
            padding:0.7em 1.5em;            
            }
    
      
     
       .btn-header i{
         padding-right:12px;  
         font-size:25px;
         color:#fff;
       }
         
    .btn-header span{
                color:#fff;
       }

         /*buttom colors type */

         .btn-header-blue ul li a{
            background-color:#02646E;
            background-color:rgba(2,100,110,0.7);       
                         }

            .btn-header-white ul li a{
                background-color:transparent;
                border: 1px solid;     
                border-color: rgba(255, 255, 255, .75);                
                   
                }
    
        /* end buttom colors type */
       

        /*  ---btn hover ---*/


       .btn-header ul li a:hover{
        background-color:#02646E;
        background-color:rgba(2,100,110,0.7);  
        transition: all 0.2s 0.1s ease-in-out;
        border:none;
               }
    
    /* --- END btn-hero ---*/

     



 /* ---2 - hero sub pages-----*/

 #hero-image-implant{
    height:500px ; 

    width: 100%;
  background:url('../images/sub-pages/hero/hero-dental-implants-1600x1200-2-r.webp') no-repeat center center;        
    
  -webkit-filter: grayscale(1);
  filter: grayscale(1);  /* efect Black and white*/
}


#hero-image-whitening{
  height:500px ; 

  width: 100%;
background:url('../images/sub-pages/hero/hero-dental-whitening-1600x500.webp') no-repeat center center;        
  
-webkit-filter: grayscale(1);
filter: grayscale(1);  /* efect Black and white*/
}


/* --- section-1   welcome -----*/
#welcome-1{
    background-color: rgb(2, 100, 111, 0.7);  
    position:relative;
       }
  

section#welcome > *{
    text-align:center;
     }
  
     #welcome-1 p{
        text-align:center;      
         }
      
        #welcome-1 h2{
       font-family: roboto, sans-serif; 

        }

.container {
    width: 100%;
    padding:20px 0;
    display:block;  

}  
    #welcome-1 > *{    /* to all children! */
        color: #fff;
    }

    #welcome-1 span{
    font-weight:500; 

    }

  
    #message span{
    color: rgb(74, 175, 82, 1);
    /*color: rgb(2, 100, 111, 1);
    color:#02646E; */
    font-weight: 400;
    }




/* flex-container   flex-wrap */
  .flex-container{
  display: flex;  
   /*align-items: center; /* center itens in flex-container*/
  justify-content:center; /*align span inside div*/  
    }

    .wrap{ 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }  



/* -- ---- services +svg.mini -----*/

	
   
    div#services-box.flex-container{
   /*  border:2px solid blue!important; */
    align-items: center; 
    }

    div#services-box.flex-container div{
   /*   border:2px solid greenyellow;  */
    }

    section#services h2{
        padding-bottom:2px;
    }
    

    .services-svg-box{
    width: 150px;
    height: 150px; 
    background-color: rgb(2, 100, 111, 0.7); 
    float:left;
    margin-right: 50px; 
    border-radius: 50%;
    text-align: center;
    color:#fff;    
    position: relative;  /* needed because the child ul.services-list.center is flex, position absoltute*/
    }   


      .svg-size{              /* define size ICON-SVG  class aplied direct to <img>*/
        height: 70px;
        width: 70px;          
      }


      div.services-svg-box{
        position:relative;
        }
        

        
            .services-svg-box  img{
            /* width:80%;*/
            position: absolute;
            top: 30%;   /*  original: top 50% adjustes que tiram do alinhamento automatico*/
            left: 50%;
            transform: translate(-50%, -70%);
            }
          
        
        
        .services-svg-box  h4{
          position: absolute;
         /* top: 50%; */
          left: 50%;
          transform: translate(-50%, 70%);
           color:#fff;
           font-weight: 400;
           font-size:105% ;
          letter-spacing: 1px;
          line-height:14px;
          }
          
               
         .services-svg-box:first-child h4,  .services-svg-box:nth-child(3n) h4{
         /*  border: 1px solid salmon;  */
          transform: translate(-50%, 100%);      
          line-height:18px;
             }   

         
          
          /*---- hover ----*/
             
        .services-svg-box:hover{
            background-color: rgb(2, 100, 111, 0.93);  
                   }
           
           .services-svg-box img:hover{
            color:#fff;	
            color:rgba(255,255,255,0.3);
                   }
                     
           .services-svg-box:hover, .services-svg-box img:hover{
              -moz-transition: all 0.4s ease-in-out;
             -o-transition: all 0.4s ease-in-out;
             -ms-transition: all 0.4s ease-in-out;
             transition: all 0.4s ease-in-out;
                   }                            
              
        
        /*---end of hover --*/

       /* -- -End services +svg.mini -----*/

       /* -- -section#about-----*/

       /* button  */

            /* button  */
			.button{
        font-family: roboto;
           -moz-appearance: none;
           -webkit-appearance: none;
           -o-appearance: none;
           -ms-appearance: none;
           appearance: none;
           background: none;
           border-radius: none;           
           background-color:#02646E;
           background-color:rgba(2,100,110,1);  
            color:#fff;			
           border-radius:50px;     
          /* padding:0.7em 1.7em;	*/
           letter-spacing: 1px;
           text-align: center;
           text-decoration: none;        
           font-size: 1em; /* size icon + text*/
           -moz-transition: all 0.35s ease-in-out;
           -webkit-transition: all 0.35s ease-in-out;
           -o-transition: all 0.35s ease-in-out;
           -ms-transition: all 0.35s ease-in-out;
           transition: all 0.35s ease-in-out;
       }
                    
     .button:hover{
     opacity:0.82;
     font-weight:400;					
     }

  
    
     .cta-buttons li{
      margin-top:25px!important;
     /* border: 1px solid red;   */   	
    }
      


      .button-m{
        padding:0.7em 1.7em;	
       }
  
       .button-p{
        padding:0.7em 1.2em;	
       }
  

.label{
font-size: 110%;
font-weight: 400;
letter-spacing: 1px;
color:rgba(58, 58,58, 0.7);
}

/*--- section#about--- */

section#about div.one-third, section#about div.two-thirds{
border: 1px solid aqua;
} 

 
section#about div.two-thirds{
   /* margin-left: 0!important; /* to align <p> with h2 . it was taking margin from .two-thirds*/    
    }

/* section#about  img */
#about .one-third img{
    width:100%;
    }

    #about .one-third img:hover{
        -webkit-filter: grayscale(0.7);
        filter: grayscale(0.7);  /* efect Black and white*/
    }
        


/* #image-message  peroperties to span */
#image-message{
    height: 80px;
text-align: center;
}

#image-message i{
font-size:170%;
color: rgb(2, 100, 111, 0.7); 
    }   

#image-message i:hover{
 color:#fff;
            }   

#image-message:hover{           
background-color:#4AAF52;;
}   
      
#image-message > span:hover{     
    color:#fff;   
         }   
           
#image-message:hover{
  background-color: rgb(2, 100, 111, 0.93);
    -moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;

}

/* section#about buttom */
section#about a#button-about.button-m{
    /* background:#f0f;*/
    position:absolute;	
    top:82%;
    right:76%; 
    margin-top: 12px;    
    transform:translate(-50%,-50%);	
     }

     section#about a#button-about.button-p{
      display:none;
     }

/* END-- section#about--- */


/*--- section#reviews--- */

section#reviews .one-third{
    border: 1px solid aqua;
  
    } 

    
    
    section#reviews .flex-container div:nth-of-type(1){
      border: 1px solid pink;
      display:none;
    }
    
section#reviews .one-third{
    width:32.8%;       
    margin-right:0%;
     padding:0 0.5%; /* determinas padding entre imagens, se aplicar diretamente na img ela move p fora do box!*/
    }
   
        
    #reviews .google-reviews-1{
      display:block;
      }
      
    #reviews .google-reviews-2 img{
      display:none;
        }
        

    /* END-- section#reviews--- */

    

section#faq .one-third{
    border: 1px solid aqua;
    height: 100px;
    /*display: flex; */
    } 

    section#faq {
     
        height: auto;
     
        margin:0;
        } 

        /* CLINIC Gallery*/

        /* https://programmersportal.com/css/how-to/place-images-side-by-side-using-flexbox.php*/

        .clinic-gallery{ /*parent*/
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        
    
        .column {  /*child*/
        flex-basis:25%;
        padding: 5px;
        box-sizing: border-box;
        }
                

          .column img{  /* Make image fit in the div */
          width: 100%;
          }

          .column img:hover{
            -webkit-filter: grayscale(0.7);
            filter: grayscale(0.7);  /* efect Black and white*/
        }
            


        /*  --section smiles  -----*/


        .heading-text {
            margin-bottom: 2rem;
            font-size: 2rem;
          }
          
          .heading-text span {
            font-weight: 100;
          }

          #heading-span-2 {
            color:#02646F;
          }
          

         /* Adjancent Sibling combinador funcionou somente com cor red, blue com cor# hexa nao, usei span#*/
         /* span:first-of-type + span {
            color: red;
          }  */
          
        .container-smiles{
            position:relative;		
            }
            
            .container-smiles h3{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%); 
            color:#fff;		
            margin:0;
            font-size:3em;
            z-index:1;   /*se nao usar o z-index o texto  vai ficar meio entre da imagen*/
            letter-spacing:3px;
            text-transform:capitalize;  /*catilize: erste Bustabe immer groß, lowercase, uppercase, capitn*/
            }
            
            
            
            
            
            ul.gallery-smiles{
            list-style-type:none; 
            overflow:hidden;
            }
            
            ul.gallery-smiles li{
            background-color:#000;
            line-height:0;
            /*Bild-Abstand unten zu Block-Element in HTML 5 beseitigen (REMOVE)*/
            width:16.666666%;
            float:left;
            margin:0;
            }
            
            
            ul.gallery-smiles li img{
            width:100%;
            opacity:0.5;  /* Opacity 50% (Opacity aqui nada relacinado com IMG SOMENTE COR::rgb, e aparece parte da cor do background da galeria no caso preto background-color:#000 unten zu Block-Element in HTML 5 beseitigen (REMOVE)*/
            webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
             -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out ;
            
            -webkit-filter: grayscale(1);
            filter: grayscale(1);  /* efect Black and white*/
                
            }
            
            ul.gallery-smiles li img:hover{
            opacity:1;  
            
             -webkit-filter: grayscale(0);
            filter: grayscale(0);  /* efect Black and white*/
            }




        /*  --END  section smiles  -----*/

        /* ----- footer -----*/
     
        footer{
          height: 200px;
      /*  background-color:rgba(2,100,111,1); */
      /* background-color:#eee; */
      background-color:#2d2d2d;
              }



    span#logo-name-footer, footer div  h4{
          color:#5B9BA2;
    }

       footer div  h4{
        text-transform:capitalize;   
        font-weight:500;
        color:#5B9BA2;
       }
    
     
                
        footer  span{
          font-size:90%;             
          color:#fff;              
           font-weight:400;
            }
    
  
        .wrapper{
          width: 100%;
          max-width: 960px;
          margin: 0 auto;  
        }
            
        #diepold-dental, #opening-hours, #policies{
        width:28%;       
        float:left;	                 
        margin-right:2%;
        border: 1px solid purple;              
        }


    footer #diepold-dental ul li, footer #opening-hours ul li, footer #policies ul li {		
        list-style-type:none!important;	
            }
        
        
    footer #diepold-dental ul li:nth-child(2){		
    margin-left:8%;	
    }
    



    footer a.logo-image img{  
      /* width:35%;         */     /* properties with automatic center*/
        display: inline-block;   
        margin-left:0;
        margin-right:7px;   
      max-width: 20px; /* image size*/
      float:left;
      opacity:1;
      }

    span#logo-name-footer{
      float:left;
        font-size:90%;            
      }

        
    #diepold-dental ul{
        margin-top:10px;
          }
 
 
    
      #opening-hours ul, #policies ul{
        margin-top:5px;
  }
    
     #opening-hours, #policies{
        margin-top:0px;
  }
    
    #diepold-dental i{
    color:#5B9BA2;
    margin-right:7px;   
    }
    
    footer #diepold-dental div.flex-container{
      justify-content:flex-start!important;   
    }

      /* .flex-container is with align-items: center; to align 3 boxes with dif height 
         needed align-item: flex-start! */  


        
 /*------sub-page >> implants ------*/

/* implant types*/

section.implant-types{
	height:120px;
	background-color:rgb(2, 100,111, 1);
    background-color:#02646E;
	 position: relative;
	 	}
	
	.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}

	
	.implant-bar ul li{
    list-style-type:none;	
    display:inline-block;      /* torna o bloco da  navigation  em um bloco-linha , diferente do display;block do Logo//*/	
	padding: 35px 0;
	}		
		
	.implant-bar a{
    color:#fff;
	padding: 0 20px;
	}		
		
	.implant-bar a:hover{	
		font-weight:500;
		text-decoration: underline;
		}
		
   .implant-types-active{
	 font-weight:500; 
   }

   	      /* properties to second img - mobile*/
           #implant-container-1 .box-1 div+div{
          /*  border: 1px solid red; */
          display:none;
           }

             /* properties to first img - website*/
           #implant-container-1 .box-1 div:nth-of-type(1){
          /*  border: 1px solid yellow; */
            /*display:none;*/
           }


    /* section#about buttom */

    section#implants a.button{
      margin:20px 0;  
    }
     
 /*subpage implant > section#implants*/
 section#implants .section-inner > div{
	border: 1px solid green!important;
	margin-left:-10px!important;		
	}
	
	#implant-welcome{
	margin-bottom:30px;
	}
	 
	 section#implants p{      /* set space between paragraphs*/
    line-height:26px;	   
    }

	 
    
	 
	 .box-1, .box-2{
	  width:48%;
      float:left;	
      margin-right:1%;	
      border:1px solid blue;	     
	}
	 
  #implant-welcome .box-1,  #implant-welcome .box-2,  #implant-welcome .box-1 img{
    height:500px;
  }


	#implants .box-1 img{
    width:100%;
    }
	
   

    


   /* implant-container-1*/
    
	#implant-container-1{
	margin-bottom:30px;
	}		
	
	#implant-container-2 img{
    width:100%;
    }
	

	
	#implant-container-2{
    -webkit-filter: grayscale(1);
        filter: grayscale(1);  /* efect Black and white*/
	}
	#implant-container-2:hover{
    -webkit-filter: grayscale(0);
        filter: grayscale(0);  
	}
	
	/* --- cta dark--*/

  section.cta .innerbox{
    height:150px;
  }
	
	section.cta .section-inner *{   /*aplied to all its children*/
	text-align:center;	    
	}	
	
	section.cta .section-inner h3, section.cta.dark .section-inner p{  
     color:#fff;
	}
		
	section.cta  .section-inner h3{   
	font-size:175%;
	}
	
  section.cta  .section-inner p{   
    font-size:115%;
    }
    

		
section.cta .button-m{
  position:absolute;
  left:50%;
  -webkit-transform: translateX(-50%); /*absolute mitte when i dont know the witht*/
  transform: translateX(-50%);  
  margin-top:12px;
  }

  section#implant-reviews .google-reviews-1 img{
    display:block;
      }

  section#implant-reviews .google-reviews-2 img{
    display:none;
      }


 /* section#about  img */
#implants .one-third img{
    width:100%;
    }

    #implants .one-third img:hover{
        -webkit-filter: grayscale(0.7);
        filter: grayscale(0.7);  /* efect Black and white*/
    }
    
      


  /* --- sub pages --- */

  /* sub page :implant  */
  .implant-bar ul li{
    list-style-type:none;	
    display:inline-block;      /* torna o bloco da  navigation  em um bloco-linha , diferente do display;block do Logo//*/	
	padding: 5px 0;
	}		


      /* sub page whitening */

      #whitening-welcome .box-1{
        width:37%;
          float:left;	
          margin-right:1%;	
          border:1px solid blue;	     
      }

      #whitening-welcome .box-2{
        width:62%;
        float:left;	
        margin-right:1%;	
        border:1px solid green;	     
      }
       
      #whitening-welcome .box-1,  #whitening-welcome .box-2,  #whitening-welcome .box-1 img{
        height:inherit;
      }
    

      #whitening-welcome .box-2 .cta-buttons {
      margin-top:105px!important;  
      margin-bottom:60px;    
        border: 1px solid magenta;       
      }
     
      #whitening-container-2 img{
        width:100%;
        }
      

        #whitening-container-2{
          -webkit-filter: grayscale(1);
              filter: grayscale(1);  /* efect Black and white*/
        }

        #whitening-container-2:hover{
          -webkit-filter: grayscale(0);
              filter: grayscale(0);  
        }
        
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      .innerbox{
        border:1px solid rgb(43, 226, 58);  
        } 

        #welcome-1 h2{
          font-size:120%; 
              }

    }

        /* tablet screen  */
    @media only screen and (max-width: 992px) {
    
      .innerbox{
      border:1px solid yellow;  
      } 
      
    }


 


