     /* tablet screen  */
     @media only screen and (max-width: 992px) {



      body {background:greenyellow;}
 
     
       .innerbox{
       border:1px solid yellow;  
       } 
       
       section#hero-outer .btn-header ul{
        display:flex;
        flex-direction: column;   
               }

        
       section#hero-outer .btn-header ul li{
       margin-bottom:12px;
       }

       div.btn-header {       
        position:absolute;	    
        transform:translate(-100%,-75%);	   
         }
     
       
      /* about */

      /* section#about buttom */
      section#about a#button-about.button-m{
        right:75%; 
        }


      /* reviews */
      section#reviews .flex-container div + div{   
        display:none;
      }
      
      section#reviews .flex-container div:nth-of-type(1){
        border: 1px solid pink;
        display:block;
      }
      
      section#reviews .flex-container{     flex-direction: column;

    }


    /* clinic*/

    
    .column {  /*child*/
      flex-basis:50%;
      padding: 5px;
      box-sizing: border-box;
      }
       
     }

